<h1><%= @user.name %>'s Album Lists</h1>
<% @all_albums.each do |album| %>
  <%= album.name %>
  <img src = '<%= album.picture %>' />
  <%= 'Members:'%>
  <% album.users.each do |user| %>
  <%= user.name + ' '%>
  <% end %>
  <form action="/new_album_member?id=<%= album.id %>" method="POST">
    <% album_users = ''%>
    <strong>Who do you want to share your album with?</strong>
    <input type ='text' name='name' placeholder='usernames' value="<%= album_users%>" />
    <input type= 'submit' value='Share' />
  </form>
  <form action= '/delete/<%= album.id %>' style='display:inline'>
    <input type= 'submit' value='Delete' />
  </form>
<% end %>

<form action="/new_album" method='POST'>
  <strong>Add a new album:</strong>
  <input type='text' name='name' placeholder='album name' />
  <input type='text' name='picture' placeholder='picture URL' />
  <input type='submit' value='Save'/>
</form>

<a href="/logout" class="btn btn-default">logout</a>
<a href="/delete_user" class="btn btn-danger">delete my account</a>
