<h1><%= @album.name %> Album</h1>
<% @all_photos.each do |photo| %>
<img src = '<%= photo.picture %>' />
<%= 'The story about this picture:'%>
<%= photo.description %>
<%= 'This photo is taken on:'%>
<%= photo.date %>
<form action='/<%= @album.id %>/delete/<%= photo.id %>' style='display:inline'>
  <input type= 'submit' value='Delete'/>
</form>
<% end %>

<form action= '/<%= @album.id %>/new_photo' method='POST'>
  <strong>Add a new photo:</strong>
  <input type='text' name='picture' placeholder='Write down the URL.' />
  <input type='text' name='description' placeholder='Describe the photo.' />
  <input type='text' name='date' placeholder='When was it taken?' />
  <input type='submit' value='Save'/>
</form>

<a href="/logout" class="btn btn-default">logout</a>
<a href= "/"> Click: Going back to album lists! </a>
